 @font-face
{
    font-family: 'Gilroy';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/web/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/web/gilroyextrabold.woff') format('woff');
}
@font-face
{
    font-family: 'Gilroy';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/web/gilroylight.woff2') format('woff2'),
    url('../fonts/web/gilroylight.woff') format('woff');
}
.main-wrapper
{
    width: 1160px;
    margin: 0 140px;
}

ul,
fieldset
{
    margin: 0;
    padding: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden
{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}
/* Header */
.main-header
{
    height: 299px;
    margin-top: 40px;

    background-color: #f8e296;
}
.header-logo
{
    font-family: 'Gilroy';
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;

    position: absolute;
    top: 16px;
    left:59px;
    width: 163px;
    height: 36px;
    letter-spacing: .48px;
    text-transform: uppercase;

    color: #000;
}
.top-panel-search
{
    display: inline-block;
}
.header-search
{
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    position: relative;
    height: 15px;
    margin-left: 99px;
    margin-right: 420px;
    letter-spacing: .15px;
    opacity: .3;
    color: #000;
    border: none;
    background-color: #f8e296;
}
.icon-search
{
    position: absolute;
    top: 100px;
    left: 203px;
}
.top-panel-search input::placeholder
{
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    width: 108px;
    height: 35px;
    letter-spacing: .15px;
    color: #000;
}
.second-navigation  a
{
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-decoration: none;
    letter-spacing: .15px;
    color: #000;
}
.second-navigation
{
    padding-top:45px;
}
